:root {
    --theme: #1183e1;
    --theme1: #5840ba;
    

}

*{
    padding: 0;
    margin: 0;
}
.root {
    height: 100vh;
    width: 100%;
    background:linear-gradient(#ff33cc,#884dff);
    overflow: hidden;
    padding: 16px;

    
}
.bg-theme{
    background: var(--theme);
}
.my_center_box{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
  }
.main{
    height: 100%;
    padding: 24px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
}
.menu_item :hover{
    text-shadow: 8px 6px 6px #fff;
    transition: 0.5s;
}

.sidemenu{
    padding: 16px;
    text-align: center;
    color: #fff;
    margin-right: 16px;
    display: flex;
    font-size:24px;
    flex-direction: column;
}
.last_menu{
    margin-top: auto;
}
.title{
    letter-spacing: -1px;
    font-weight: 900!important;
}
.dis{
    font-size: 14px;
    color: gray;
}
.card{
    border: 0;
border-radius: 24px;
font-size: 12px;
top: 100px;
}
.regNO{
    color: #111;
    font-size: 14px;
    padding: 8px;
    border-radius: 0.2rem;
    background-color: #fff;
    border: none;
    width: 100%;
    display: block;
    transition: all 0.3s;
}
.regBtn{
    font-weight: 100;
    border-radius: 16px;
}
.borderBlue{
    border: 1px solid var(--theme);
}
.scrollVertical{
    overflow-y: auto;
   
}
.scrollVertical::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollVertical {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .shadow{
    box-shadow: 1px 1px 10px 1px black !important;
  }
  .img-icon{
    height: 20px;
    width: 20px;
  }



/* .card-container
{    padding-top: 4rem;}

.studentCard{
  
    text-align: center;
}
.stddata
{
    padding-left: 0.5rem;
    font-weight: bold;
} */

.hide{
    display: none;
}
.card-container1{
    height: 542px;
    background-color: #fff;
    border-radius: 16px;
    margin-top: 40px;
    overflow: hidden;
    box-shadow: 0px 1px 10px 1px #000;
    
    left: 100px;
    
} 

 .uper-container{
    height:200px;
    background: linear-gradient(-45deg , #ff33cc,#884dff);
}
.image-container{
    background: white;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    transform: translate(190px,120px);
}
.image-container img{
    background: white;
    width: 150px;
    height: 151px;
    border-radius: 50%;
}
.stdimg{
    width: 100px;
}
.lower-container{
    height: 418px;
    background: white;
    padding-top: 24px;
}
.stdnameregno{
    margin: 45px;
}
.stdname{
    font-size: 25px;
}
.cardbody{
    font-size: 15px;
}
.card-fees{
    display: none;
}
.fees{
    border-radius: 22px;
    box-shadow: 1px 1px 2px  black;
    text-align: center;
    width: 227px;
    height: 50px;
    
}
.margin1{
    max-width: 46%;
}
.Fees{
    font-size: 20px;
    font-weight: bolder;
    color: rgb(0, 0, 12);
}
.feecard-container{
    font-size: 28px;
    box-sizing: border-box;
    border: 1px solid;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 24px;
    box-shadow: 1px 1px 10px black;
}
.logo-container{
    display: flex;
}