:root {
    --theme: #1183e1;
    --theme1: #5840ba;
}

*{
    padding: 0;
    margin: 0;
}
.root {
    height: 100vh;
    width: 100%;
    background: var(--theme);
    overflow: hidden;
    padding: 16px;    
}
.bg-theme{
    background: var(--theme);
}
.my_center_box{
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
  }
.main{
    height: 100%;
    padding: 0px 24px 24px 24px;
    width: 100%;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-flow: column;
}
.menu_item :hover{
      color: #000;
}


.shrink{
    flex: 0 1 auto;
}
.grow{
    flex: 1 1 auto;
}


.sidemenu{
    padding: 16px;
    text-align: center;
    color: #fff;
    margin-right: 16px;
    display: flex;
    font-size:24px;
    flex-direction: column;
}
.last_menu{
    margin-top: auto;
}
.title{
    letter-spacing: -1px;
    font-weight: 900!important;
}
.dis{
    font-size: 14px;
    color: gray;
}
.card{
    border: 0;
border-radius: 24px;
font-size: 12px;
}
.regNO{
    color: #111;
    font-size: 14px;
    padding: 8px;
    border-radius: 0.2rem;
    background-color: #fff;
    border: none;
    width: 100%;
    display: block;
    transition: all 0.3s;
}
.regBtn{
    font-weight: 100;
    border-radius: 16px;
}
.borderBlue{
    border: 1px solid var(--theme);
}
.scrollVertical{
    overflow-y: auto;
   
}
.scrollVertical::-webkit-scrollbar {
    display: none;
  }
  
 
  .scrollVertical {
    -ms-overflow-style: none;  
    scrollbar-width: none;  
  }
  .img-icon{
    height: 20px;
    width: 20px;
  }
.error{
    color: red;
}

.studentCard{
  
    text-align: center;
}
.stddata
{
    padding-left: 0.5rem;
    font-weight: bold;
}

.hide{
    display: none !important;
}
.feeCard{
    color: #fff;
}


.paid{
    background-color: #3bb78f;
    background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%);
    box-shadow: 3px 3px .5rem #0bab64;
}
.unpaid{
    background-color: #f7b42c;
    background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
    box-shadow: 3px 3px .5rem #fc575e;
}
.underProcess{
    background-color: #f1ca34;
    background-image: linear-gradient(250deg, #f2a033 0%, #ffc801 74%);
    box-shadow: 3px 3px 0.5rem #ffc907;
}
.dropDown{
    padding: 3px;
    border: 2px solid var(--theme);
    border-radius: 6px;
}
.shadow{
    background-color: #e6fcfc;
}

.selectedCard{
    border: 3px solid var(--theme);
    box-sizing: border-box;
    box-shadow: 2px 2px 0.5rem var(--theme);
}
.f-10{
    font-size: 10px;
}

.h-10{
    height: 10% !important;
}
.h-90{
    height: 90% !important;
}

@media screen and (max-width: 480px) {
    .root{
        flex-direction: column-reverse; 
        padding: 16px 16px 4px 16px
    }
    .sidemenu{
        flex-direction: row;
        justify-content: space-between;
        font-size: 18px;
        padding: 6px;
    }
    .logo{
        width: 40px;
        margin: 0px !important;
    }
    .menu_item{
        margin: 0px !important;
    }
  }

